@model uStora.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập hệ thống";
    ViewBag.MetaKeyword = "Đăng nhập hệ thống uStora";
    ViewBag.MetaDescription = "Đăng nhập hệ thống uStora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Đăng nhập hệ thống</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-area">
    <div class="row">
        <div class="col-xs-12 col-md-6 custom-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
                <li class="active">Đăng nhập</li>
            </ol>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-left:-600px">
            @using (Html.BeginForm("Login", "Account", new { returnUrl = @ViewBag.ReturnUrl }, FormMethod.Post,
            new { @class = "well form-horizontal contact-form" }))
            {
                <fieldset>
                    <legend>Thông tin tài khoản</legend>
                    <h5 class="text-danger"><span>*</span> là bắt buộc</h5>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "tên đăng nhập" })
                                <span class="input-group-addon">*</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "nhập lại mật khẩu" })
                                <span class="input-group-addon">*</span>
                            </div>
                        </div>
                    </div>

                    <div class="checkbox icheck-primary">
                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "btn" })
                        @Html.LabelFor(model => model.RememberMe)
                        <a href="/quen-mat-khau.htm" class="btn btn-link pull-right">Quên mật khẩu?</a>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-12 control-label"></label>
                        <div class="col-md-12 inputGroupContainer">
                            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập </button>
                        </div>
                    </div>
                </fieldset>
            }
            @Html.Partial("_ExternalLoginsListPartial", new uStora.Web.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl }) 
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Assets/Client/js/checkbox.js"></script>
}

